@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@keyframes moveBackground-X {
    0% {
        background-position-x: 200px;
    }
    100% {
        background-position-x: 0;
    }
}


@keyframes moveBackground-X-bg {
    0% {
        background-position-x: 50px;
    }
    100% {
        background-position-x: 0;
    }
}


@keyframes moveBackground-Y{
    0% {
        background-position-y: 5px;
    }
    100% {
        background-position-y: 0;
    }
}
