@import 'animation';
@import 'responsive';
@import 'theme';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}


.menu-panel {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, #272525, #000);
    clip-path: circle(0% at 100% 0%);
    z-index: 100;
    transition: clip-path 0.5s ease-in-out;

    .menu-container {
        position: absolute;
        top: 0;
        right: 10vw;
        color: #FFF;
        height: 100vh;
        width: 100vw;
        display: grid;
         padding: 50px;
        font-size: 20px;


        .menu-items {
            justify-self: center;
            display: flex;
            flex-flow: column;
            justify-content: center;
            gap: 30px;

            .menu-item {
                position: relative;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 400;
                transition: transform 0.3s ease-in-out;

                &:hover::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -10px;
                    height: 4px;
                    width: 20%;
                    background-color: $primary-color;
                    transform: scaleX(1);
                    transition: transform 0.3s ease-in-out;
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -10px;
                    height: 4px;
                    width: 20%;
                    background-color: $primary-color;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.3s ease-in-out;
                }
            }
        }


    }

}


header {
    position: fixed;
    width: 100vw;
    display: flex;
    flex-flow: row;
    z-index: 101;

    .logo {

        margin: 10px;
        height: 70px;
        width: 210px;
        background-image: url("../img/logo-white.svg");
        background-repeat: no-repeat;
    }

    nav {
        justify-self: end;
        margin-left: auto;

        ul {
            padding: 20px;
            display: flex;
            flex-flow: row;
            align-items: flex-start;
            gap: 4rem;
            text-decoration: none;
            list-style-type: none;
            color: #ffff;

            li {
                padding: 10px 0px;

            }

            .nav-item {
                position: relative;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 12px;
                font-weight: 600;
                transition: transform 0.3s ease-in-out;

                &:hover::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -5px;
                    height: 4px;
                    width: 50%;
                    background-color: $primary-color;
                    transform: scaleX(1);
                    transition: transform 0.3s ease-in-out;
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -5px;
                    height: 4px;
                    width: 50%;
                    background-color: $primary-color;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.3s ease-in-out;
                }
            }


            .menu {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                user-select: none;

                .menuLines {
                    display: block !important;


                    &.l1 {
                        margin-bottom: 5px;
                        transition: transform 0.3s ease-in-out;
                    }

                    &.l2 {
                        margin-bottom: 5px;

                        transition: transform 0.3s ease-in-out;

                    }
                }


            }

        }
    }
}

#hero {
    position: relative;
    height: 100vh;

    .section-inner {
        height: 100vh;
        z-index: 1;
        cursor: pointer;
        justify-items: center;

        .logo-container {
            position: absolute;
            top: 100px;
            left: 100px;
            width: 400px;
            transform: translateX(-500px) translateY(-500px);

            .spinner {
                position: relative;
                height: 300px;
                width: 300px;
                margin: auto;

                .spinner-layer-1 {
                    position: relative;
                    height: 100%;
                    background-image: url("../img/spinner/spinner-layer-1.svg");
                    background-repeat: no-repeat;
                    animation: spin 5s infinite linear reverse;
                }

                .spinner-layer-2 {
                    position: absolute;
                    top: 20%;
                    left: 20%;
                    height: 60%;
                    width: 60%;
                    background-image: url("../img/spinner/spinner-layer-1.svg");
                    background-repeat: no-repeat;
                    animation: spin 2s infinite linear;
                }

                .spinner-layer-3 {
                    position: absolute;
                    top: 12%;
                    left: 12%;
                    height: 75%;
                    width: 75%;
                    background-image: url("../img/spinner/dotted-eclipe.svg");
                    background-repeat: no-repeat;
                    animation: spin 6s infinite linear;
                }

                .logo {
                    position: absolute;
                    top: 12%;
                    left: 7%;
                    margin: 5rem;
                    height: 40%;
                    width: 35%;
                    background-image: url("../img/logo-white.svg");
                    background-repeat: no-repeat;
                }
            }
        }

        .about-us {
            transform: translateY(200px);
            opacity: 0;
        }

        .our-mission {
            transform: translateY(200px);
            opacity: 0;
        }

        .section-info {
            position: absolute;
            width: 50%;
            margin: auto;
            top: 35%;
            left: 25%;

            .wrapper {

                display: flex;
                flex-flow: column;
                gap: 50px;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: #b9b9bf;


                .title {
                    position: relative;
                    color: #b9b9bf;
                    font-size: 20px;
                    opacity: 0.8;

                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -10px;
                        height: 4px;
                        width: 40%;
                        background-color: $primary-color;
                        transform: scaleX(1);
                        transition: transform 0.3s ease-in-out;
                    }
                }

                .description {
                    font-size: 20px;
                }

                .button-wrap {

                    width: 210px;
                    height: 70px;
                    position: relative;

                    &:hover .button-overlay {
                        clip-path: circle(0% at 50% 0%);

                    }


                    .button-overlay {
                        z-index: 3;
                        position: absolute;
                        top: 10%;
                        left: 10%;
                        height: 80%;
                        width: 80%;
                        pointer-events: bounding-box;
                        border: 1px solid #b9b9bf;
                        border-radius: 47px;
                        padding: auto;
                        justify-content: center;
                        align-content: center;
                        color: #fff;
                        background: #000;
                        clip-path: circle(150% at 50% 0%);
                        transition: clip-path 0.5s ease-in-out;

                    }

                    .button {
                        z-index: 2;
                        position: absolute;
                        top: 10%;
                        left: 10%;
                        height: 80%;
                        width: 80%;
                        pointer-events: bounding-box;
                        border: 1px solid #b9b9bf;
                        border-radius: 47px;
                        padding: auto;
                        justify-content: center;
                        align-content: center;
                        color: #000;
                        background: #FFF;


                    }

                }

            }
        }
    }

    .section-outer {
        .layer {
            min-height: 100vh;
            width: 100vw;
            position: fixed;
            background-size: cover;
            background-position: center;
            padding: 20px;
            z-index: -1;
        }

        .layer-bg {
            background-image: url("../img/parallax/bg.png");
        }

        .layer-1 {
            background-image: url("../img/parallax/layer1.png");
            background-repeat: no-repeat;
        }

        .layer-2 {
            background-image: url("../img/parallax/layer2.png");
            background-repeat: no-repeat;
        }

        .mask {
            background-image: url("../img/parallax/mask.png");
        }

        .layer-overlay {
            background-color: rgb(1, 43, 61, 0.5);
        }

        .end {
            opacity: 0;
            background-color: rgb(0, 0, 0);
            height: 150vh;
        }
    }
}

.spliter {
    height: 100vh;
    background-color: #fff;
}

#about-us {
    position: absolute;
    width: 100vw;
    height: 150vh;
    padding: 140px;
    background: url("../img/bg2.gif");
    opacity: 0;

    .section-outer {
        .model {
            position: fixed;
            top: 20vh;
            margin-left: 30vh;
            height: 100vh;
            width: 100vh;
            z-index: -1;
            opacity: 0.5;
        }
    }

    .section-title {
        height: 10vw;
        width: 30vw;
        padding: 3rem;
        font-size: 4rem;
        color: #ffffff;
        margin-left: auto;
        margin-right: 0;
    }

    .section-content {
        height: 50vh;
        width: 80vw;

        .section-content-overlay {
            position: fixed;
            height: 50vh;
            width: 80vw;
            background-color: #00011b;
            z-index: -1;
            opacity: 0.5;
        }

        .section-content-warpper {
            border-radius: 7px;
            padding: 3rem;

            p {
                font-size: 1.5rem;
                color: #ffffff;
            }
        }
    }
}

#statistics {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgb(0, 0, 0);
    color: #ffff;

    .section-inner {
        position: relative;
        top: 20%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;

        .section-title {
            position: relative;
            font-size: 60px;
            color: #b9b9bf;
            opacity: 0;
            font-weight: bold;

            &::after {
                position: absolute;
                content: "";
                left: 0;
                right: 0;
                bottom: -20px;
                height: 10px;
                width: 45%;
                background-color: $primary-color;

            }

        }

        .section-content {
            align-self: center;
            width: 100%;

            .statistics {
                width: 100%;

                display: flex;
                flex-flow: row;
                justify-content: space-evenly;
                align-items: baseline;
                opacity: 1;
                gap: 30px;

                .statistic-item {
                    height: 500px;
                    width: 300px;
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    gap: 20px;
                    font-size: 2rem;

                    .spinner {
                        position: relative;
                        width: 70%;
                        justify-content: center;

                        .spinner-layer-1 {
                            position: relative;
                            height: 200px;
                            width: 200px;
                            margin: auto;
                            background-image: url("../img/spinner/spinner-layer-1.svg");
                            animation: spin 10s infinite linear reverse;
                        }

                        .spinner-layer-2 {
                            position: absolute;
                            top: 20%;
                            left: 20%;
                            height: 120px;
                            width: 120px;
                            background-image: url("../img/spinner/spinner-layer-1.svg");
                            background-repeat: no-repeat;
                            animation: spin 4s infinite linear;
                        }

                        .stat-number {
                            position: absolute;
                            height: 120px;
                            width: 120px;
                            top: 40%;
                            left: 20%;
                            font-size: 30px;
                            font-weight: 400;
                        }
                    }

                    .stat-description {
                        width: 100%;
                        font-size: 20px;
                        font-weight: 400;
                    }
                }

                .members {
                    position: relative;
                    opacity: 0;
                    transform: translateX(50%);
                }

                .projects {
                    position: relative;
                    opacity: 0;
                    transform: translateX(60%);
                }

                .partners {
                    position: relative;
                    opacity: 0;
                    transform: translateX(-70%);
                }

                .countries {
                    position: relative;
                    opacity: 0;
                    transform: translateX(-80%);
                }
            }
        }
    }

    .section-outer {
    }
}


#branches {
    position: relative;
    height: 300vh;
    width: 100vw;
    margin-top: 200vh;
    background-color: rgb(0, 0, 0);

    .section-warpper {
        .section-inner {
            height: 100%;
            color: #b9b9bf;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            justify-items: center;
            align-content: center;
            text-align: center;

            .section-title {
                width: 30%;
                font-size: 60px;
                color: #b9b9bf;
                 align-self: center;
            }

            .section-content {
                width: 100%;
                align-self: center;

                .showcase-pin {
                    height: 240vh;
                    width: 100%;
                    display: flex;
                    flex-flow: row;
                    justify-content: center;

                    .show-text {
                        width: 50%;

                        .show-text-contain {

                            .show-text-item {

                                height: 80vh;
                                display: flex;
                                flex-flow: column;
                                justify-content: center;
                                align-items: center;
                                gap: 30px;

                                .title {
                                    position: relative;
                                    color: #b9b9bf;
                                    font-size: 20px;
                                    opacity: 0.8;

                                    &::after {
                                        content: "";
                                        position: absolute;
                                        left: 0;
                                        right: 0;
                                        bottom: -10px;
                                        height: 4px;
                                        width: 30%;
                                        background-color: $primary-color;
                                        transform: scaleX(1);
                                        transition: transform 0.3s ease-in-out;
                                    }
                                }

                                .text {
                                    width: 70%;
                                    font-size: 18px;
                                }

                                .button-wrap {

                                    width: 210px;
                                    height: 70px;
                                    position: relative;

                                    &:hover .button-overlay {
                                        clip-path: circle(0% at 50% 0%);

                                    }


                                    .button-overlay {
                                        z-index: 3;
                                        position: absolute;
                                        top: 10%;
                                        left: 10%;
                                        height: 80%;
                                        width: 80%;
                                        pointer-events: bounding-box;
                                        border: 1px solid #b9b9bf;
                                        border-radius: 47px;
                                        padding: auto;
                                        justify-content: center;
                                        align-content: center;
                                        color: #fff;
                                        background: #000;
                                        clip-path: circle(150% at 50% 0%);
                                        transition: clip-path 0.5s ease-in-out;

                                        a {
                                            text-decoration: none;
                                            color: #fff;

                                        }
                                    }

                                    .button {
                                        z-index: 2;
                                        position: absolute;
                                        top: 10%;
                                        left: 10%;
                                        height: 80%;
                                        width: 80%;
                                        pointer-events: bounding-box;
                                        border: 1px solid #b9b9bf;
                                        border-radius: 47px;
                                        padding: auto;
                                        justify-content: center;
                                        align-content: center;
                                        color: #000;
                                        background: #FFF;

                                        a {
                                            text-decoration: none;
                                            color: #000;

                                        }

                                    }


                                }


                                .btn {
                                    width: 150px;
                                    height: 50px;
                                    pointer-events: bounding-box;
                                    border: 1px solid #b9b9bf;
                                    border-radius: 47px;
                                    padding: auto;

                                    justify-content: center;
                                    align-content: center;
                                    color: #fff;

                                    a {
                                        text-decoration: none;
                                        color: #fff;

                                    }
                                }
                            }
                        }
                    }

                    .show-images {
                        height: 100vh;
                        width: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .show-img-contain {
                            height: 55%;
                            width: 75%;

                            .show-image {

                                position: absolute;
                                img {
                                    width: 40vw;
                                    height: 55vh;
                                    border-radius: 30px;

                                }
                            }
                        }
                    }
                }
            }

            // .section-buttons {
            //   .btn {
            //     height: 10vh;
            //     width: 20vw;
            //     margin-left: 10rem;
            //     text-align: center;
            //     align-content: center;
            //     background: #5ab597;

            //     a {
            //       color: #ffff;
            //       text-decoration: none;
            //       letter-spacing: 0.1rem;

            //       &:after {
            //         content: "→";
            //         display: inline-block;
            //         margin-left: 1rem;
            //         font-size: 2rem;
            //         font-weight: bold;
            //         color: inherit;
            //         transition: transform 0.3s ease;
            //       }
            //       &:hover::after {
            //         transform: translateX(1rem);
            //       }
            //     }
            //   }
            // }
        }
    }
}

#projects {
    min-height: 100vh;
    width: 100vw;
    position: relative;
    background-color: rgb(0, 0, 0);

    .gallery {
        .gallery-filter {
            height: 20vh;
            width: 100vw;
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .btn {
                min-width: 150px;
                padding: 10px;
                height: 50px;
                pointer-events: bounding-box;
                border: 1px solid #b9b9bf;
                border-radius: 47px;
                padding: auto;
                text-align: center;
                justify-content: center;
                align-content: center;
                color: #fff;
            }

            .selected {
                color: #000;
                background: #fff;

            }
        }

        .gallery-container {
            margin: 5vh;
            align-content: center;
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            .gallery-block {
                box-sizing: border-box;
                border-radius: 46px;
                margin-bottom: 20px;
                position: relative;
                overflow: hidden;

                &::before {
                    position: absolute;
                    content: "";
                    left: -1px;
                    top: -1px;
                    right: -1px;
                    bottom: -1px;
                    opacity: 0;
                    transform: scale(0.2, 1);
                    -webkit-transition: all 500ms ease;
                    -moz-transition: all 500ms ease;
                    -ms-transition: all 500ms ease;
                    -o-transition: all 500ms ease;
                    transition: all 500ms ease;
                    background: linear-gradient(180deg, #47aaae, #00011b);
                }

                &:hover::before {
                    opacity: 1;
                    transform: scale(1, 1);
                }

                &:hover {
                    .gallery-block-content {
                        .gallery-block-more {
                            .view-more {
                                opacity: 1;
                                transform: translateY(0);
                            }
                        }
                    }
                }

                .gallery-block-content {
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    text-align: center;
                    border: 1px solid #ccc;
                    border-radius: 46px;

                    padding: 10px;
                    position: relative;
                    z-index: 1;

                    width: 400px;
                    height: 400px;

                    .gallery-block-image {
                        img {
                            width: 80%;
                            height: auto;
                            border-radius: 46px;
                        }

                    }

                    .gallery-block-title {
                        width: 100%;
                        margin: 10px 0;
                        color: #fff;

                    }

                    .gallery-block-heading {
                        margin: 10px 0;
                        color: #fff;
                        text-align: left;
                    }

                    .gallery-block-more {
                        margin: 10px 0;


                        justify-content: center;
                        align-content: center;
                        display: flex;
                        flex-flow: column;

                        .view-more {
                            text-align: center;
                            text-decoration: none;
                            color: #ffff;
                            display: inline-block;
                            padding: 10px;
                            background: #000;
                            z-index: 1;
                            width: 150px;
                            margin: auto;

                            height: 40px;
                            pointer-events: bounding-box;
                            border: 1px solid #b9b9bf;
                            border-radius: 47px;
                            padding: auto;

                            color: #fff;
                            z-index: 1;
                            opacity: 0;
                            transform: translateY(-50px);
                            transition: opacity 0.4s ease, transform 0.4s ease;
                            margin: auto;

                        }
                    }

                    &::before {
                        position: absolute;
                        top: 0;
                        left: -85%;
                        z-index: 99;
                        display: block;
                        content: "";
                        width: 50%;
                        height: 100%;
                        background: -o-linear-gradient(
                                left,
                                rgba(255, 255, 255, 0) 0%,
                                rgba(255, 255, 255, 0.7) 100%
                        );
                        background: -webkit-gradient(
                                linear,
                                left top,
                                right top,
                                from(rgba(255, 255, 255, 0)),
                                to(rgba(255, 255, 255, 0.7))
                        );
                        background: linear-gradient(
                                to right,
                                rgba(255, 255, 255, 0) 0%,
                                rgba(255, 255, 255, 0.7) 100%
                        );
                        -webkit-transform: skewX(-25deg);
                        -ms-transform: skewX(-25deg);
                        transform: skewX(-25deg);
                    }

                    &:hover::before {
                        -webkit-animation: shine 1s;
                        animation: shine 1s;
                    }
                }
            }
        }
    }

    @-webkit-keyframes shine {
        100% {
            left: 125%;
        }
    }

    @keyframes shine {
        100% {
            left: 125%;
        }
    }
}

.heighlight {
    background-color: rgb(0, 0, 0);

}

#network {
    height: 50vh;
    width: 180vw;

    .section-warpper {
        .section-inner {
            height: 100%;
            color: #b9b9bf;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            justify-items: center;
            align-content: center;
            text-align: center;

            .section-title {
                width: 30%;
                font-size: 60px;
                color: #b9b9bf;
                align-self: center;

            }

            .section-content {
                width: 100%;
                align-self: center;
                display: flex;
                flex-flow: row;
                justify-content: space-around;
                align-items: center;
                justify-items: center;
                align-content: center;
                text-align: center;
                transform: translateX(30%);

            }


        }
    }
}

#awards {
    height: 100vh;
    width: 100vw;
}

#testimonials{
    height: 80vh;
    width: 100vw;
}


/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials {
    padding: 80px 0;
     background-position: center center;
    background-size: cover;
    position: relative;
}

.testimonials::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0);
}

.testimonials .section-header {
    margin-bottom: 40px;
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
    overflow: hidden;
}

.testimonials .testimonial-item {
    text-align: center;
    color: #fff;
}

.testimonials .testimonial-item .testimonial-img {
    width: 100px;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
}

.testimonials .testimonial-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #fff;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #ddd;
    margin: 0 0 15px 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
    color: rgba(255, 255, 255, 0.6);
    font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}

.testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
    color: #eee;
}

.testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0.5;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: $primary-color;
    opacity: 1;
}

@media (min-width: 1024px) {
    .testimonials {
        background-attachment: fixed;
    }
}

@media (min-width: 992px) {
    .testimonials .testimonial-item p {
        width: 80%;
    }
}

.cover {
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;

    .outer,
    .inner {
        width: 100%;
        height: 100%;
        overflow-y: hidden;
    }

    .bg {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        background-size: cover;
        background-position: center;

        h2 {
            font-size: 50px;
            font-weight: bold;
            text-align: center;
            margin-right: -0.5em;
            color: #fff;
            width: 90vw;
            max-width: 1200px;
        }

        h2 {
            z-index: 2;
        }

        h2 * {
            will-change: transform;
        }


        .clip-text {
            overflow: hidden;
        }
    }
}


.post {
    top: 100vh;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    color: #FFF;
    padding: 20px;

    .post-content {
        margin: 20px;

        h1 {
            margin: 20px;
        }

        .facts {
            display: flex;
            flex-flow: row;
            gap: 10px;

            .fact {
                display: flex;
                flex-flow: column;
                padding: 10px;
                height: 100px;
            }
        }
    }
}

footer {
    height: 120vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    color: #fff;


    .company-info {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        justify-items: flex-end;
        align-items: flex-end;
        height: 50vh;

        .logo-container {

            width: 400px;

            .spinner {
                position: relative;
                height: 300px;
                width: 300px;
                margin: auto;

                .spinner-layer-1 {
                    position: relative;
                    height: 100%;
                    background-image: url("../img/spinner/spinner-layer-1.svg");
                    background-repeat: no-repeat;
                    animation: spin 5s infinite linear reverse;
                }

                .spinner-layer-2 {
                    position: absolute;
                    top: 20%;
                    left: 20%;
                    height: 60%;
                    width: 60%;
                    background-image: url("../img/spinner/spinner-layer-1.svg");
                    background-repeat: no-repeat;
                    animation: spin 2s infinite linear;
                }

                .spinner-layer-3 {
                    position: absolute;
                    top: 12%;
                    left: 12%;
                    height: 75%;
                    width: 75%;
                    background-image: url("../img/spinner/dotted-eclipe.svg");
                    background-repeat: no-repeat;
                    animation: spin 6s infinite linear;
                }

                .logo {
                    position: absolute;
                    top: 12%;
                    left: 7%;
                    margin: 5rem;
                    height: 40%;
                    width: 35%;
                    background-image: url("../img/logo-white.svg");
                    background-repeat: no-repeat;
                }
            }
        }

        .branches-info-container {
            height: 50%;
            display: flex;
            flex-flow: row;
            justify-content: flex-start;
            justify-items: flex-end;
            gap: 5vw;

            .branche-info {
                width: 20vw;

                .branche-info-title {
                    font-weight: bold;
                    font-size: 18px;
                    margin-bottom: 5px;
                }

                .branche-info-address,
                .branche-info-tel,
                .branche-info-mob {
                    font-size: 12px;
                    margin-bottom: 3px;

                    &::before {
                        margin-right: 5px;
                    }
                }

                .branche-info-tel,
                .branche-info-mob {
                    font-weight: 600;
                }


            }

        }
    }

    .box-container {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        padding: 20px;
        height: 60vh;

        .box {
            width: 30vw;
            padding: 20px;
            border-radius: 45px;
            z-index: 1;


            .box-title {
                font-size: 30px;
                z-index: 2;
                margin: 20px;

            }


            .box-content {
                z-index: 2;
                margin: 20px;
                font-size: 16px;
                line-height: 2em;


                ul {
                    list-style-type: none;

                    li {
                    }
                }
            }


        }
    }


    .copy-write {
        height: 10vh;
        text-align: center;
        display: grid;
        justify-items: center;
        align-items: center;

    }

}
