::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #fff;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #5ab597;
    background: linear-gradient(180deg,#00011b ,  #47aaae);

}
